<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CheapShop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
</head>
<body>

@* <nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top"> *@
@*     <div class="container"> *@
@*         <span class="navbar-brand">@Html.ActionLink("CheapShop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</span> *@
@*         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"> *@
@*             <span class="navbar-toggler-icon"></span> *@
@*         </button> *@
@*         <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> *@
@*             <div class="navbar-nav"> *@
@* *@
@*                 <span class="nav-link">@Html.ActionLink("Home", "Index", "Home")         </span> *@
@*                 <span class="nav-link">@Html.ActionLink("About", "About", "Home")        </span> *@
@*                 <span class="nav-link">@Html.ActionLink("Contact", "Contact", "Home")    </span> *@
@*                 <span class="nav-link">@Html.ActionLink("Products", "Index", "Products") </span> *@
@*             </div> *@
@*             @Html.Partial("_LoginPartial") *@
@*         </div> *@
@*     </div> *@
@* *@
@* </nav> *@

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        @Html.ActionLink("CheapShop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-item nav-link" })
                @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-item nav-link" })
                @Html.ActionLink("Products", "Index", "Products", new { area = "" }, new { @class = "nav-item nav-link" })
            </div>
            <div class="navbar-nav ml-auto">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

<div class="container">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - CheapShop</p>
    </footer>
</div>
<script>
    $(".nav .nav-link").on("click", function(){
        $(".nav").find(".active").removeClass("active");
        $(this).addClass("active");
    });
</script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
