@model CheapShopWeb.Models.Product
@{
    ViewBag.Title = "TrustedUserEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>TrustedUserEdit</h2>
@using (Html.BeginForm("Edited", "TrustedUser", new
{
    bname = @Model.name,
    bsource = Model.source,
    bproduct_link = Model.product_link,
    bprice = Model.price,
    bgroup = Model.group,
    bphoto_link = Model.photo_link
}))
{
    @Html.ValidationSummary(true)
    <div class="row-cols-md-1">
        <div>
            <h2>Source : @Model.name</h2>
        </div>
        <div>
            <input type="text" id="name" , name="name" value="" />
        </div>
        <div>
            <h2>Source : @Model.source</h2>
        </div>
        <div>
            <input type="text" id="source" , name="source" value="" />
        </div>
        <div>
            <h2>Link : @Model.product_link</h2>
        </div>
        <div>
            <input type="text" id="product_link" , name="product_link" value="" />
        </div>
        <div>
            <h2>Price : @Model.price</h2>
        </div>
        <div>
            <input type="text" id="price" , name="price" value="" />
        </div>
        <div>
            <h2>Group : @Model.group</h2>
        </div>
        <div>
            <input type="text" id="group" , name="group" value="" />
        </div>
        <div>
            <h2>Photo :</h2>
        </div>
        <div class="col-sm-12 col-md-3">
            <img class="img-fluid mx-auto d-block" src=@Model.photo_link alt="" />
        </div>
        <div>
            <input type="text" id="photo_link" , name="photo_link" value="" />
        </div>
    </div>
    <div class="col-auto">
        <input type="submit" value="Update" class="btn btn-lg btn-success"/>
    </div>
}
