@using CheapShopWeb.Models
@using Microsoft.Ajax.Utilities
@model IEnumerable<CheapShopWeb.Models.Product>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form>
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg" type="search" name="search" value="@Request.Params["search"]">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>

</div>

@if(Model.Count() > 0 && !string.IsNullOrWhiteSpace(@Request.Params["search"]))
{
    <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2">
            <form id="form1" class="border border-dark">

                <div class="form-group">
                    <label for="priceFrom">Min price</label>
                    <input step=".01" type="number" class="form-control" name="priceFrom" placeholder="Min">
                </div>
                <div class="form-group">
                    <label for="priceTo">Max price</label>
                    <input step=".01" type="number" class="form-control" name="priceTo" placeholder="Max">
                </div>
                <div class="form-group form-check" name="group">
                    <input type="checkbox" class="form-check-input" id="Rde" name="group" value="Rde">Rde<br />

                    <input type="checkbox" class="form-check-input" name="group" id="Bigbox" value="Bigbox">Bigbox<br />
                    <input type="checkbox" class="form-check-input" name="group" id="Pigu" value="Pigu">Pigu<br />
                    <input type="checkbox" class="form-check-input" name="group" id="Senukai" value="Senukai">Senukai<br />
                    <input type="checkbox" class="form-check-input" name="group" id="Autoaibe" value="Autoaibe">Autoaibe<br />
                    <input type="checkbox" class="form-check-input" name="group" id="Topocentras" value="Topocentras">Topocentras<br />
                    <input type="checkbox" class="form-check-input" name="group" id="Ermitazas" value="Ermitazas">Ermitazas<br />
                    <input type="checkbox" class="form-check-input" name="group" id="Skytech" value="Skytech">Skytech<br />
                    <input type="checkbox" class="form-check-input" name="group" id="Varle" value="Varle">Varle<br />
                    <input type="checkbox" class="form-check-input" name="group" id="Eoltas" value="Eoltas">Eoltas<br />
                    <input type="checkbox" class="form-check-input" name="group" id="Novastar" value="Novastar">Novastar<br />


                </div>
                <button type="submit">Filter</button>
            </form>
        </div>
        <div class="col-sm-8 col-md-9 col-lg-10">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="container-fluid border border-dark mb-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <img class="img-fluid mx-auto d-block" src=@item.photo_link alt="" />
                            </div>
                            <div class="col-sm-12 col-md-6 border border-primary">
                                <h2>@item.name</h2>
                                <p>Grupė: @item.group</p>
                            </div>

                            <div class="col-sm-12 col-md-3">
                                <h2>@item.price</h2>
                                <a href=@item.product_link class="btn btn-primary">Link</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}else{
<div><p class="h4">Nothing</p></div>
}

 
@section scripts{
    <script type="text/javascript">
        $("#form1").submit(function(e) {
            e.preventDefault();

            var yourArray = [];
            //function() { yourArray.push($("input:number[name=priceFrom]").val()) };

            //function() { yourArray.push($("input:number[name=priceTo]").val()) };

            $("input:checkbox[name=group]:checked").each(function() {
                yourArray.push($(this).val());
            });
            var key = encodeURIComponent("source");
            var value = encodeURIComponent(yourArray);
            var kvp = document.location.search.substr(1).split('&');
            var i = 0;
            console.log(kvp)
            for (; i < kvp.length; i++) {
                if (kvp[i].startsWith(key + '=')) {
                    var pair = kvp[i].split('=');
                    pair[1] = value;
                    kvp[i] = pair.join('=');
                    break;
                }
            }
            if (i >= kvp.length) {
                kvp[kvp.length] = [key, value].join('=');
            }
            var params = kvp.join('&');
            document.location.search = params;
        });
    </script>}