@using CheapShopWeb.Models
@model List<CheapShopWeb.Models.Product>
    @{
        ViewBag.Title = "ProductInfo";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
<style >
    .container-fluid
    {
        margin-top: 20px;
    }
    .col-sm_12 col-md-3{
        text-align: center;
    }
    .table {
        height:600px;
        overflow-y: scroll;
        border: 1px solid black;
        padding: 5px;
    }
    .tr{
        margin: 2px;
        border-bottom: 1px solid green;
    }


    </style>
<div>
    <div class="container-fluid border border-dark mb-4">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <img class="img-fluid mx-auto d-block" src=@Model[0].photo_link alt="" />
            </div>
            <div class="col-sm-12 col-md-6 border border-primary">
                <h2>@Model[0].name</h2>
                <p>Grupė: @Model[0].group</p>
                <p>Šaltinis: @Model[0].source</p>
            </div>

            <div class="col-sm-12 col-md-3">
                <h2>@Model[0].price</h2>
                <a href=@Model[0].product_link class="btn btn-primary">Link</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class=table>
        @foreach (var product in Model)
         {

                if (product != Model[0])
                {

                    <div class=tr>
                        <td>@product.name</td>
                        <td>@product.name</td>
                        </div>
                }


        }
    </div>
</div>

